Artigo lido:
Jeff Hemsley and Sikana Tanupabrungsun. 2018. Viral Design: User Concepts
Df Virality Dn the Niche Sdcial Media Site, Dribbble. In Proceedings of the 9th
International Conference on Social Media and Society (SMSociety '18). ACM, New
York, NY, USA, 91-101.


• Qual o objetivo do artigo?

O objetivo central deste artigo foi o de investigar se existem fenômenos
  virais e, em caso positivo, o que é o conteúdo e quais fatores mais
  influenciam nos mesmos. O objetivo foi investigar tais fenômenos em redes
  específicas de nicho social. Também se pretende saber como, no caso da
  ocorrência, o que está sendo difundido.


• Descrição do método ou análise quantitativa e qualitativa apresentada
 <table>

     Conceito
     Qualitativa
     Quantitativa

    Questão de pesquisa específica



    Que método(s) foi(foram) aplicado(s)?
    Abordagem mista a partir de perspectiva centrada no usuário
      (Entrevista).O método misto utilizado é sequencial e exploratório.
    Modelagem de regressão linear a partir de variáveis independentes
      pré-definidas.


    O que apresentam sobre a aplicação do método
    Foram selecionados usuários da plataforma que disponibilizaram seu
      contato no perfil, e falantes da língua inglesa.
    Coleta e análise de dados de uso do sistema, a partir da API pública do
      Dribbble, realizando a modelagem de uma regressão linear com tais dados.
      De todos os dados, extraíram um número de 100 players, com um determinado
      número mínimo de posts


    Tipo de dado coletado
    Coleta via gravação de áudio-chamada, que foram posteriormente
      transcritas e os participantes anonimizados.
    Dados e metadados associados aos mesmos, coletados a partir de perfis e
      imagens artísticas dos usuários, através da API pública do Dribbble.


    Quantidade de dados ou participantes considerados
    Dados da entrevista de 28 informantes, sendo 19 homens e 9 mulheres, e a
      maioria com mais de 3 anos de uso da plataforma.
    Dados e metadados associados a cerca de 400.000 perfis de usuário e
      700.000 imagens artísticas disponibilizadas sobre a plataforma Dribbble. Do total de perfis, cerca de 50.000 continham informações acerca de sua localização específica. Ao final, foram analisados cerca de 8.318 após filtragem.


    Método(s) usado(s) na análise
    Transcrição e análise do material das entrevistas.
    A partir da identificação dos fatores relacionados aos eventos virais, pela entrevista dos informantes, foi possível traçar variáveis a serem usadas em um modelo de regressão.


    Natureza dos Resultados
    O resultado das entrevistas permitiu a delimitação dos critérios ou fatores determinantes para que se perceba a ocorrência da viralidade, e para sua representação, os quais foram utilizados na etapa posterior como variáveis para a modelagem da regressão linear.
    Avaliação das variáveis independentes (seguidores, visualizações, curtidas e comentários, etiquetas, buckets, idade) a partir de Variance Inflation Factor (VIF).  Através da regressão linear foi possível estimar coeficientes para cada dessas variáveis. O resultado dos coeficientes possibilitou a construção de gráficos comparativos entre os mesmos.


    Que dados apresentam para justificar suas conclusões
    Trechos das entrevistas
    Tabelas com métricas e estatísticas.


Combinação dos métodos
o Como foram combinados os métodos (e.g. Geraram dados complementares? Um deu uma visão geral, e outro aprofundou algum resultado gerado pelo outro?, etc)
A combinação dos métodos se deu de forma que o resultado de um deles foi usado como o input do outro. No caso, o método qualitativo permitiu uma visão geral, e o quantitativo permitiu uma investigação profunda no tema.
o Que benefícios foram alcançados por se combinar os métodos quantitativos e qualitativos no
artigo?
Os benefícios considerados pela combinação dos métodos é a possibilidade de verificar os resultados de um deles, a partir do outro. No caso, os resultados do método quantitativo permitiram apontar respostas para as hipóteses, as quais por sua vez foram levantadas a partir dos resultados da análise qualitativa.
Resultados
o Quais os principais resultados obtidos com métodos quantitativos?
Verificação se as hipóteses faziam sentido e estavam relacionadas com os eventos da viralidade, o que se comprovou estatisiticamente.
o Quais os principais resultados obtidos com métodos qualitativos?
o Qual a contribuição do artigo para a comunidade?
A contribuição para a comunidade é a exploração de um tema pouco explorado em pesquisas anteriores, que é a ocorrência dos eventos de viralidade em redes sociais de nicho específico.
Comentário do grupo
– O que acharam sobre a combinação de métodos?
Achamos que a combinação foi benéfica para os própósitos do estudo, tendo sido bem integrados.
Obs: Não houveram maiores dúvidas ou comentários adicionais.


{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
Página Inicial
{% endblock %}

{% block title %} Welcome! {% endblock %}

{% block image_bkg %}
  <div class="container">
    <div class="row">

      {% if device.is_xsmall or device.is_small %}
        <div class="col-sm">
          {# Rendered for x-small/small screen devices #}
          <img src="{% static "img/bkg_sm.jpg" %}" alt="Estudo">
        </div>

      {% elif device.is_medium %}
        <div class="col-md">
          {# Rendered for medium screen devices #}
          <img src="{% static "img/bkg_md.jpg" %}" alt="Estudo">
        </div>

      {% else %}
        <div class="col-lg">
          {# Rendered for large/xlarge screen devices #}
          <img src="{% static "img/bkg.jpg" %}" alt="Estudo">
        </div>
      {% endif %}

      <p class="credito">Crédito da imagem: https://all-free-download.com/free-vectors/
    </div>
  </div>
{% endblock %}
