.credito{
  font-size: small;
  font-style: italic;
}


table{
   width: 100%;
   border-collapse: collapse;
   border: 1px solid #BBB;
}
td,tr{
  border: 1px solid #BBB;
}

.tdbotoes{
  border: none;
}

.cell-breakWord {
   word-wrap: break-word;
   line-height: 15pt;

}
