<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
      <link rel="stylesheet" href="{% static "css/estilos.css" %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>{% block head_title %} CFE {% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class='col-6 mx-auto'>
              <h1>{% block title %} CFE {% endblock %}</h1>
          </div>
      </div>
      <ul>
        <li><a href="{% url 'website:index' %}">Página Inicial</a></li>
        <li><a href="{% url 'website:cadastra_produto' %}">Preencher Formulário</a></li>
        <li><a href="{% url 'website:lista_produtos' %}">Exibir respostas</a></li>
      </ul>
  </div>
  <div style="max-width: 50%;">
      <table style="border: 1px solid #BBB; width: 100%;">
          <thead>
              <tr style="border-bottom: 1px solid #AAA">
                  <td style="width:10%"><b>Respostas</b></td>
              </tr>
          </thead>

          <tbody>
              {% for produto in produtos %}
                  <tr>
                      <td style="width:10%"><b>p1</b></td>
                      <td class="cell-breakWord">{{ produto.questao_de_pesquisa }}</td>
                  </tr><tr>
                      <td class="cell-breakWord">{{ produto.metodo }}</td>
                  </tr><tr>
                      <td class="cell-breakWord">{{ produto.aplicacao_metodo }}</td>
                  </tr><tr>
                      <td class="cell-breakWord">{{ produto.tipo_dado }}</td>
                  </tr><tr>
                      <td class="cell-breakWord">{{ produto.qtde_dado }}</td>
                  </tr><tr>
                      <td class="cell-breakWord">{{ produto.metodo_analise }}</td>
                  </tr><tr>
                      <td class="cell-breakWord">{{ natureza_resultado }}</td>
                  </tr><tr>
                      <td class="cell-breakWord">{{ dados_justifica }}</td>
                  </tr><tr>
                      <td><a href="{% url 'website:atualiza_produto' pk=produto.id %}">Atualizar</a></td>
                  </tr><tr>
                      <td><a href="{% url 'website:deleta_produto' pk=produto.id %}">Excluir</a></td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  </body>
</html>
